{% extends "base.html" %}
{% block title %} Apontamentos {% endblock %}

{% block nav %} 
<li class="nav-item active">
  <a class="nav-link" href="/">Home</a>
</li>
{% endblock %}

{% block content %}
<h1>Apontamentos</h1>
<table class="table table-hover">

    <tr>
      <th>Cultura</th>
      <th>Cultivar</th>
      <th>Periodo</th>
      <th>Talhão</th>
      <th>Armadilhas</th>
      <th>Praga</th>
      <th>Técnico</th>
      <th>Quantidade</th>
      <th>Data de Leitura</th>
      
     
      
      
    </tr>
  </thead> 

  {% for apont in apontamentos %}
  <tr>
    <td>{{ apont.cultura }}</td>
    <td>{{ apont.cultivar}}</td>
    <td>{{ apont.periodo}}</td>
    <td>{{ apont.talhao}}</td>
    <td>{{ apont.armadilha}}</td>
    <td>{{ apont.praga }}</td>
    <td>{{ apont.tecnico }}</td>
    <td>{{ apont.qtd }}</td>
    <td>{{ apont.dt }}</td>
    
    
  </tr>
  {% endfor %}

</table>

<a href="{{ url_for('apontamentos_cad') }}">Cadastrar Novo Apontamento</a>
{% endblock %}